.ma{
  position: relative;
  z-index: 0;
}
hideM{
  position: relative;
  z-index: 1;
  width: 100%;
  heigtht:700px;
}
.adMain{
  position: fixed;
  z-index: 3;
}
.adMain{
  width: 500px;
  height: 500px;
  top: 30px;
  left: 30%;
  padding: 10px;
  background: #e5f0ff;
  border-radius: 20px;
}
.adMain div{
  float: none;
}
.adTitle{
  width: 90%;
  height: 40px;
  line-height: 40px;
  margin: 20px;
  background: #fafdff;
  border-radius: 10px;
  font-size: 1.3em;
  padding: 0 10px;
}
.adContent{
  width: 90%;
  height: 300px;
  margin: 0 20px;
  padding: 10px;
  background: #fafdff;
  border-radius: 10px;
}
.adImages{
  margin: 20px;
}
.imgTxt,.meimgTxt{
  width:20px;
  font-size: 1.3em;
  margin:5px;
  padding: 2px;
}
.img-box div,.meimg-box div{
  border: 1px solid #ddd;
  border-radius:10px;
  float: left;
  line-height: 1;
  margin-left: 5px;
  overflow: hidden;
}
.adrrordiv{
  clear: both;
}
.adrrordiv button{
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin: 2px 5px;
  padding: 0px 10px;
  border: none;
  outline: none;
  background: #d7eaf9;
  font-size: 1.3em;
  color: #9a9898;
}
.meText input,button{
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin: 2px 5px;
  padding: 0px 10px;
  border: none;
  outline: none;
  background: #d7eaf9;
  font-size: 1.3em;
  color: #4a4747;
}
.meText button{
  margin: 30px;
}